---
import Link from "../../public/assets/Icons/link.svg";
const { title, date, description, link } = Astro.props;

const screenShot = `https://api.microlink.io/?url=${link}&screenshot=true&embed=screenshot.url`;
---

<a
  href={link}
  target="_blank"
  class="flex space-x-4 p-3 rounded-2xl border border-gray-300/20 bg-white/10 hover:bg-white/20 cursor-pointer max-sm:flex-col max-sm:items-center max-sm:space-y-3"
>
  <svg
    viewBox="0 0 750 550"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="h-fit w-100 max-sm:w-80"
  >
    <g clip-path="url(#clip0_26_2)">
      <path
        d="M66.25 447.5H683.75C693.75 447.5 701.25 440 701.25 430V17.5C701.25 7.5 693.75 0 683.75 0H66.25C57.5 0 50 7.5 50 17.5V430C50 440 57.5 447.5 66.25 447.5Z"
        fill="#212528"></path>
      <path
        d="M0 508.75C0 528.75 16.25 550 37.5 550H712.5C732.5 550 750 528.75 750 508.75H0Z"
        fill="#212528"></path>
      <path d="M687.5 447.5H62.5L0 508.75H750L687.5 447.5Z" fill="#DDDDDD"
      ></path>
      <path
        d="M666.25 452.5H83.75L62.5 477.5H687.5L666.25 452.5Z"
        fill="#BFBEBE"></path>
      <path
        d="M438.75 488.75H311.25L301.25 502.5H448.75L438.75 488.75Z"
        fill="#212528"></path>
      <path d="M87.5 37.5H662.5V410H87.5V37.5Z" fill="#3E4347"></path>
      <image
        href={screenShot}
        x="87.5"
        y="37.5"
        width="575"
        height="372.5"
        preserveAspectRatio="xMidYMid slice"
      />
      <path
        d="M375 30C380.523 30 385 25.5229 385 20C385 14.4772 380.523 10 375 10C369.477 10 365 14.4772 365 20C365 25.5229 369.477 30 375 30Z"
        fill="#DDDDDD"></path>
      <path
        d="M428.75 535H321.25C317.5 535 307.5 535 307.5 522.5H442.5C442.5 535 432.5 535 428.75 535Z"
        fill="#3E4347"></path>
    </g>
    <defs>
      <clipPath id="clip0_26_2">
        <rect width="750" height="550" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <!-- <img src={screenShot} alt={title} class="w-40 h-fit rounded-lg" /> -->
  <span class="space-y-2 w-full">
    <span class="flex justify-between text-xl max-sm:text-lg">
      <span class="flex items-center gap-2">
        <h3>{title}</h3>
        <img
          src={Link.src}
          alt="Link"
          class="invert w-5 h-5 opacity-0 hover:opacity-100 transition-opacity duration-200 max-sm:opacity-100 max-lg:opacity-100"
        />
      </span>
      <h3>{date}</h3>
    </span>
    <p class="text-start max-sm:text-sm">{description}</p>
    <span class="flex flex-wrap gap-2">
      <slot />
    </span>
  </span>
</a>
