---
import Vite from "../../public/assets/Icons/vite.svg";
import React from "../../public/assets/Icons/react.svg";
import Tailwind from "../../public/assets/Icons/tailwind.svg";
import Node from "../../public/assets/Icons/node-js.svg";
import Html from "../../public/assets/Icons/html-5.svg";
import Css from "../../public/assets/Icons/css-3.svg";
import AstroIcon from "../../public/assets/Icons/astro.svg";
import GitHub from "../../public/assets/Icons/github.svg";
import Docker from "../../public/assets/Icons/docker.svg";
import MySQL from "../../public/assets/Icons/mysql.svg";
import PostgreSQL from "../../public/assets/Icons/postgresql.svg";
import JavaScript from "../../public/assets/Icons/javascript.svg";
---

<div id="Skills" class="flex flex-col items-center gap-4">
  <h2 class="text-2xl text-red-400 max-sm:text-xl">APTITUDES</h2>
  <div
    class="grid grid-cols-4 gap-6 border border-gray-300/20 bg-white/10 p-4 rounded-2xl"
  >
    <img src={Vite.src} alt="Vite" class="w-12 h-12" />
    <img src={React.src} alt="React" class="w-12 h-12" />
    <img src={Tailwind.src} alt="Tailwind" class="w-12 h-12" />
    <img src={Node.src} alt="Node" class="w-12 h-12" />
    <img src={Html.src} alt="Html" class="w-12 h-12" />
    <img src={Css.src} alt="Css" class="w-12 h-12" />
    <img src={AstroIcon.src} alt="Astro" class="w-12 h-12" />
    <img src={GitHub.src} alt="GitHub" class="w-12 h-12" />
    <img src={Docker.src} alt="Docker" class="w-12 h-12" />
    <img src={MySQL.src} alt="MySQL" class="w-12 h-12" />
    <img src={PostgreSQL.src} alt="PostgreSQL" class="w-12 h-12" />
    <img src={JavaScript.src} alt="JavaScript" class="w-12 h-12" />
  </div>
</div>
